body{
    font-family: 'Montserrat', sans-serif;
    background-color: #EDEDED;
}

#title {
    background-color: #444444;
    color: white;
}

#header-title {
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 3.3vw;
    line-height: 1.5;
    font-weight: 900;
}

.container-fluid{
    padding: 3% 8%;
}

#navbar{
    background-color: #171717;
}

.navbar-brand{
    font-family: 'Ubuntu';
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0px 5px;
}

#div-download-buttons button{
    margin: 20px 20px 10px 0px;
    width: 35%;
    font-size: 1.3vw;
}

.btn-apple{
    background-color: #DA0037;
    color: white;
}


#img-main{
    width: 45%;
    margin-left: 35%;
    
}

#features{
    padding: 7% 10%;
}

.div-feature{
    text-align: center;
    padding: 5%;
    font-size: 1.6vw;

}

.div-feature h3{
    font-weight: bold;
    font-size: 2.2vw;
}

.div-feature .fas{
    font-size: 5vw;
    color: #DA0037;
    margin-bottom: 30px;
}


#testimonials{
    background-color: #444444;
    text-align: center;
    color: white;
    padding: 3% 5% 7%;
}


#div-title-reviews{
    padding: 2%;
}

#div-title-reviews h1{
    font-weight: bold;
    font-size: 3vw;
}

.arrow{
    font-size: 4vw;
    color: white;
}

a {
    color: inherit;
}

.arrow a:hover{
    color:lightgrey;
}

#title-stars{
    color: #FFC947;
    font-size: 3vw;
}

.review{
    font-size: 3vw;
}

.review p{
    font-size: 1.3vw;
}

.text-review{
    font-size: 2vw;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.carousel-item{
    padding-bottom: 10%;
}

#press{
    padding: 3% 4% 8%;
    text-align: center;
}

#press h1{
    font-weight: bold;
    font-size: 3vw;
}

#press img{
    width: 20%;
    margin: 8% 2% 2%;
}

